{% extends "homebase.html" %}
{% load static %}
{% block title %}About - {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{setting.image.url}}'/>{% endblock  %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="container">
        {{setting.aboutus|safe}}
    </div>
{% endblock %}