{% extends "homebase.html" %}
{% load static %}
{% block title %}Contact - {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}
{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{setting.image.url}}'/>{% endblock  %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="">
                <div class="section-title">
                    <h3 class="title">Contact</h3>
                </div>
                {{setting.contact|safe}}
            </div>
        </div>
        <div class="row">
            <div class="section-title">
                <h3 class="title">Contact Form</h3>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" class="contactForm">
                {% csrf_token %}
                <div class="row">
                    <div class="span4 form-group">
                        {{form.name}}
                        <div class="validation"></div>
                    </div>
                    <div class="span4 form-group">
                        {{form.email}}
                        <div class="validation"></div>
                    </div>
                    <div class="span8 form-group">
                        {{form.subject}}
                        <div class="validation"></div>
                    </div>
                    <div class="span8 form-group">
                        {{form.message}}
                        <div class="validation"></div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-theme" value="SEND MESSAGE">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}