{% load static %}
{% load mptt_tags %}
<section class="ftco-booking ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-16">
				<form action="/search/" class="booking-form aside-stretch" method="POST">
				{% csrf_token %}
        			<div class="row">
						<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-6">
		      						<label for="#">Category</label>
		      						<div class="form-field">
		        						<div class="select-wrap">
		        	    			        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		        	            			<select name="catid" id="catid" class="form-control">
												<option value=0>All</option>
											{% recursetree category %}
		        	            				<option value={{node.id}}>{{node.title}}</option>
											{% endrecursetree %}
		        	            			</select>
		        	          			</div>
			    	          		</div>
			    	        	</div>
	            	  		</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
			    					<label for="#">Search Title</label>
			    					<input type="text" id="query" name="query" class="form-control" placeholder="Search...">
		    					</div>
		    				</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
			    					<label for="#">Check-in</label>
			    					<input type="text" class="form-control checkin_date" placeholder="Check-in">
		    					</div>
		    				</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
			    					<label for="#">Check-out</label>
			    					<input type="text" class="form-control checkout_date" placeholder="Check-out">
		    					</div>
		    				</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
		      						<label for="#">Guests</label>
		      						<div class="form-field">
		        						<div class="select-wrap">
		        	            			<div class="icon"><span class="ion-ios-arrow-down"></span></div>
		        	            			<select name="" id="" class="form-control">
		        	            				<option value="">1 Adult</option>
		        	            			  	<option value="">2 Adult</option>
		        	            			  	<option value="">3 Adult</option>
		        	            			  	<option value="">4 Adult</option>
		        	            			  	<option value="">5 Adult</option>
		        	            			  	<option value="">6 Adult</option>
		        	            			</select>
		        	          			</div>
			    	          		</div>
			    	        	</div>
	            	  		</div>
        				</div>
        				<div class="col-md d-flex">
        					<div class="form-group d-flex align-self-stretch">
		        	      		<input type="submit" class="btn btn-primary py-5 py-md-3 px-4 align-self-stretch d-block" value="Check Availability">
		        	    	</div>
        				</div>
        			</div>
        		</form>
    		</div>
		</div>
	</div>
</section>
<section class="ftco-section">
  <div class="container">
  	<div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
      	<span class="subheading">Welcome to Harbor Lights Hotel</span>
        <h2 class="mb-4">You'll Never Want To Leave</h2>
      </div>
    </div>  
    <div class="row d-flex">
      <div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
          	<div class="icon d-flex align-items-center justify-content-center">
          		<span class="flaticon-reception-bell"></span>
          	</div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Friendly Service</h3>
          </div>
        </div>      
      </div>
      <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services active py-4 d-block text-center">
          <div class="d-flex justify-content-center">
          	<div class="icon d-flex align-items-center justify-content-center">
          		<span class="flaticon-serving-dish"></span>
          	</div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Get Breakfast</h3>
          </div>
        </div>    
      </div>
      <div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
          	<div class="icon d-flex align-items-center justify-content-center">
          		<span class="flaticon-car"></span>
          	</div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Transfer Services</h3>
          </div>
        </div>      
      </div>
      <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
          	<div class="icon d-flex align-items-center justify-content-center">
          		<span class="flaticon-spa"></span>
          	</div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Suits &amp; SPA</h3>
          </div>
        </div>      
      </div>
      <div class="col-md pl-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
          	<div class="icon d-flex align-items-center justify-content-center">
          		<span class="ion-ios-bed"></span>
          	</div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Cozy Rooms</h3>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>

{% if campaigns %}
<section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Campaigns</span>
            <h2>Recent Campaigns</h2>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
			{% for campaign in campaigns %}
				<div class="col-md-4 d-flex ftco-animate">
            		<div class="blog-entry align-self-stretch">
            		  <a href="{% url 'contentdetail' campaign.id campaign.slug %}" class="block-20 rounded" style="width:300px; background-size: 300px 300px;background-image: url('{{campaign.image.url}}');">
            		  </a>
            		  <div class="text mt-3 text-center">
            		  	<div class="meta mb-2">
            		      <div>{{campaign.created_at|date}}</div>
            		    </div>
            		    <h3 class="heading"><a href="{% url 'contentdetail' campaign.id campaign.slug %}">{{campaign.title}}</a></h3>
						
            		  </div>
            		</div>
          		</div>
			{% endfor %}
        </div>
      </div>
</section>
{% endif %}
<section class="ftco-section ftco-no-pb ftco-room">
	<div class="container-fluid px-0">
		<div class="row no-gutters justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
      	<span class="subheading">Harbor Lights Rooms</span>
        <h2 class="mb-4">Hotel Master's Rooms</h2>
      </div>
    </div>  
		<div class="row no-gutters">
		{% for room in rooms %}
			<div class="col-lg-6">
				<div class="room-wrap d-md-flex ftco-animate">
					<a href="{% url 'room' room.id room.hotel_id.slug room.slug %}" class="img" style="background-image: url({{room.image.url}});"></a>
					<div class="half left-arrow d-flex align-items-center">
						<div class="text p-4 text-center">
							<h2 class="mb-3"><a href="{% url 'hotel' room.hotel_id.id room.hotel_id.slug %}" style="color:black">{{room.hotel_id.title}}</a></h2>
							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
							<p class="mb-0"><span class="price mr-1">${{room.price}}</span> <span class="per">per night</span></p>
    						<h3 class="mb-3"><a href="{% url 'room' room.id room.hotel_id.slug room.slug %}">{{room.title}}</a></h3>
    						<p class="pt-1"><a href="{% url 'room' room.id room.hotel_id.slug room.slug %}" class="btn-custom px-3 py-2 rounded">View Details <span class="icon-long-arrow-right"></span></a></p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>