{% load static %}
{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{setting.image.url}}'/>{% endblock  %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/"><span>{{ setting.company|linebreaksbr }}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>

        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" href="{% url 'all-category'%}" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
              Rooms
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              
              {% for node in category %}
                  <a class="dropdown-item" href="{% url 'category' node.id node.slug %}">{{ node.title }} Rooms</a>
              {% endfor %}
            </div>
        </li>

        {% if menu %}
        {% load mptt_tags %}
        {% recursetree menu %}
            <li {% if not node.is_leaf_node %} class="nav-item dropdown"{% endif %}>
                <a class="{% if not node.is_leaf_node %}dropdown-toggle nav-link{% else %}dropdown-item{% endif %} " href="{% if node.is_leaf_node %}{% url 'menu' node.id %}{% endif %}" {% if not node.is_leaf_node %} data-toggle="dropdown" {% endif %} id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                  {{node.title}}
                </a>
                {% if not node.is_leaf_node %}
                <ul class="dropdown-menu" role="menu" class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
        {% endif %}
        <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
              {{setting.company}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/references" class="dropdown-item">References</a>
                <a href="/aboutus" class="dropdown-item">About Us</a>
                <a href="/contact" class="dropdown-item">Contact</a>
                <a href="/faq" class="dropdown-item">FAQ</a>
            </div>
        </li>
        
      </ul>
      <ul class="navbar-nav mr-right">
      {% if user.id is None %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
            </a>
            <div class="dropdown-menu p-3">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message | safe}}
                  </div>
                {% endfor %}
              {% endif %}
              <form action="{% url 'login' %}" method="post" accept-charset="UTF-8" class="form-horizontal">
                {% csrf_token %}
                <input class="form-control login" type="text" name="username" placeholder="Username">
                <input class="form-control login" type="password" name="password" placeholder="Password">
                <input class="btn btn-primary" type="submit" name="submit" value="Login">
              </form>
              <a href="{% url 'sign_up' %}" style="color:black;">
                Sign up
              </a>
            </div>
        </li>
      {% else %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <big>{% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}</big>
            </a>
            <div class="dropdown-menu p-3">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message | safe }}
                  </div>
                {% endfor %}
              {% endif %}
              <a href="{% url 'user:index' %}" style="color:black;">My Profile</a><br>
              <a href="{% url 'user:reservations' %}" style="color:black;">My Reservations</a><br>
              <a href="{% url 'user:comments' %}" style="color:black;">My Comments</a><br>
              <a href="{% url 'user:contents' %}" style="color:black;">My Contents</a><br>
              <a href="{% url 'logout' %}" style="color:black;">Logout</a><br>
            </div>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
{% if page != 'index' %}
<div class="hero-wrap" style="background-image: url({% static 'assets/images/bg_3.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
      	<div class="text">
          <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span>/ {% if page.lower == 'room' %}<span class="mr-2"><a href="{{room.hotel_id.get_absolute_url}}">{{room.hotel_id}} /</a></span><span class="mr-2">{{room.title}}</span>{% else %}<span class="mr-2">{{page}}</span>{% endif %}</p>
          <h1 class="mb-4 bread">{% if page.lower == 'room' %}{{room}} {% else %} {{page.upper}}{% endif %}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}