



{% extends 'homebase.html' %}
{% load static %}

{% block title %}Search Rooms{% endblock %}
{% block keywords %}Search rooms{% endblock %}
{% block description %} Search Rooms {% endblock %}
{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{setting.image.url}}'/>{% endblock  %}

{% block content %}
<section class="ftco-booking ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-16">
				<form action="/search/" class="booking-form aside-stretch" method="POST">
				{% csrf_token %}
        			<div class="row">
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
			    					<label for="#">Search Title</label>
			    					<input type="text" name="query" class="form-control" placeholder="Search..." {% if lastForm %} value="{{lastForm}}"{% endif %}>
		    					</div>
		    				</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
			    					<label for="#">Check-in</label>
			    					<input type="text" class="form-control checkin_date" placeholder="Check-in">
		    					</div>
		    				</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
			    					<label for="#">Check-out</label>
			    					<input type="text" class="form-control checkout_date" placeholder="Check-out">
		    					</div>
		    				</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
		      						<label for="#">Room</label>
		      						<div class="form-field">
		        						<div class="select-wrap">
		        	    			        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		        	            			<select name="" id="" class="form-control">
		        	            				<option value="">Suite</option>
		        	            				<option value="">Family Room</option>
		        	            				<option value="">Deluxe Room</option>
		        	            				<option value="">Classic Room</option>
		        	        					<option value="">Superior Room</option>
		        	            				<option value="">Luxury Room</option>
		        	            			</select>
		        	          			</div>
			    	          		</div>
			    	        	</div>
	            	  		</div>
        				</div>
        				<div class="col-md d-flex py-md-4">
        					<div class="form-group align-self-stretch d-flex align-items-end">
        						<div class="wrap align-self-stretch py-3 px-4">
		      						<label for="#">Guests</label>
		      						<div class="form-field">
		        						<div class="select-wrap">
		        	            			<div class="icon"><span class="ion-ios-arrow-down"></span></div>
		        	            			<select name="" id="" class="form-control">
		        	            				<option value="">1 Adult</option>
		        	            			  	<option value="">2 Adult</option>
		        	            			  	<option value="">3 Adult</option>
		        	            			  	<option value="">4 Adult</option>
		        	            			  	<option value="">5 Adult</option>
		        	            			  	<option value="">6 Adult</option>
		        	            			</select>
		        	          			</div>
			    	          		</div>
			    	        	</div>
	            	  		</div>
        				</div>
        				<div class="col-md d-flex">
        					<div class="form-group d-flex align-self-stretch">
		        	      		<input type="submit" class="btn btn-primary py-5 py-md-3 px-4 align-self-stretch d-block" value="Check Availability">
		        	    	</div>
        				</div>
        			</div>
        		</form>
    		</div>
		</div>
	</div>
</section>
<div class="ftco-section" style="min-height: 760px;">
    <div class="container">
        <div class="row">
        <p style="color:black"><h3>Founded {{rooms.count}} room{{rooms.count | pluralize}}:</h3></p>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Room</th>
                    <th scope="col">Hotel</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                {% if rooms%}
                {% for room in rooms %}
                  <tr>
                    <th scope="row"> <img src="{{ room.image.url }}" alt="{{ room.description }}" style="height:100px;"> </th>
                    <td style="vertical-align: middle;"><a href="{% url 'room' room.id room.hotel_id.slug room.slug %}">{{ room.title }}</a></td>
                    <td style="vertical-align: middle;">{{ room.hotel_id.title }}</td>
                    <td style="vertical-align: middle;">{{ room.hotel_id.category }}</td>
                    <td style="vertical-align: middle;">{{ room.price }}</td>
                  </tr>
                {% endfor %}
                {% else %}
                  <tr>
                    <th scope="row"> - </th>
                    <td style="vertical-align: middle;">-</td>
                    <td style="vertical-align: middle;">-</td>
                    <td style="vertical-align: middle;">-</td>
                    <td style="vertical-align: middle;">-</td>
                  </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock  %}

