{% extends 'homebase.html' %}
{% load static %}
{% block content %}
<br>
<div class="container" style="min-height:600px;">
    <div class="row">
        <form action="{% url 'sign_up' %}" method="post">
            {% csrf_token %}
            
            <table class="table">
            {% for field in form %}
                <p>
                    <tr>
                        <th scope="row">{{field.label_tag}}</th>
                        <td>{{field}}</td>
                        <td>
                            {% if field.help_text %}
                            <small style="color:grey">{{field.help_text}}</small>
                            {% endif %}
                        </td>
                        <td>
                            {% for error in field.errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                </p>
            {% endfor %}
            </table>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock  %}