{% extends 'homebase.html' %}
{% load static %}
{% block content %}
<section class="ftco-section ftco-no-pb ftco-room">
	<div class="container px-0" style="min-height:600px">
		<div class="row no-gutters">
            <p>{% include 'user_panel.html' %}</p>
            <div class="col-md-10 clearfix table-responsive">
                <p>
                <p style="color:black"><h3>Founded {{comments.count}} comment{{comments.count | pluralize}}:</h3></p>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Hotel</th>
                        <th scope="col">Room</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Date</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message | safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if comments%}
                    {% for comment in comments %}
                      <tr>
                        <td style="vertical-align: middle;"><a href="{{comment.room.hotel_id.get_absolute_url}}">{{comment.room.hotel_id}}</a></td>
                        <td style="vertical-align: middle;"><a href="{{comment.room.get_absolute_url}}">{{ comment.room }}</a></td>
                        <td style="vertical-align: middle;">{{ comment.subject | slice:"5" }}{% if comment.subject|length > 5 %}...{% endif %}</td>
                        <td style="vertical-align: middle;">{{ comment.comment | slice:"15"}}{% if comment.comment|length > 15 %}...{% endif %}</td>
                        <td style="vertical-align: middle;">{{ comment.created_at }}</td>
                        <td style="vertical-align: middle;">{{ comment.rate }}</td>
                        <td style="vertical-align: middle;">{{ comment.status }}</td>
                        <td style="vertical-align: middle;"><a href="{% url 'user:delete_comment' comment.id %}" onclick="return confirm('Message will be deleted! Are you sure?')" class="btn btn-danger">Delete</a></td>
                      </tr>
                    {% endfor %}
                    {% else %}
                      <tr>
                        <th scope="row"> - </th>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                        <td style="vertical-align: middle;">-</td>
                      </tr>
                    {% endif %}
                    </tbody>
                </table>
                </p>
            </div>
		</div>
	</div>
</section>
<br>
{% endblock  %}
