{% extends 'homebase.html' %}
{% load static %}
{% block content %}
<section class="ftco-section ftco-no-pb ftco-room">
	<div class="container px-0">
		<div class="row no-gutters">
            <p>{% include 'user_panel.html' %}</p>
            <div class="col-md-9 clearfix table-responsive">
                <p>
                <table class="table">
                    <p>
                    <h2 style="text-align:center;">User Information</h2>
                        <tr>
                            <td colspan="2" style="text-align:center;"><img src="{{profile.image.url}}" class="img-responsive" style="height:250px; border-radius: 20%;"></td>
                        </tr>
                        <tr>
                            <th scope="">Name Surname:</th>
                            <td>{{profile.user.firstname}} {{profile.user.lastname}} {{profile.user.username}}</td>
                        </tr>
                        <tr>
                            <th scope="">Email:</th>
                            <td>{{profile.email}}</td>
                        </tr>
                        <tr>
                            <th scope="">Phone:</th>
                            <td>{{profile.phone}}</td>
                        </tr>
                        <tr>
                            <th scope="">Address:</th>
                            <td>{{profile.address}}</td>
                        </tr>
                        <tr>
                            <th scope="">City:</th>
                            <td>{{profile.city}}</td>
                        </tr>
                        <tr>
                            <th scope="">Country:</th>
                            <td>{{profile.country}}</td>
                        </tr>
                        <tr>
                            <td colspan=2 align=center><a href="{% url 'user:update' %}" class="btn btn-secondary">Update Profile</a>
                            <a href="{% url 'user:change_password' %}" class="btn btn-secondary">Change Password</a></td>
                        </tr>
                    </p>
                </table>
                </p>
            </div>
		</div>
	</div>
</section>
<br>
{% endblock  %}
