<div class="col-md-2 col-sm-2">
    <div class="sidebar-box ftco-animate">
      <div class="categories">
        <h3>User Panel</h3>
        <li><a href="{% url 'user:index' %}">My Profile</a></li>
        <li><a href={% url 'user:reservations' %}>My Reservations</a></li>
        <li><a href="{% url 'user:comments' %}">My Comments</a></li>
        <li><a href="#">My Favorits</a></li>
        <li><a href="#">My Rooms</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </div>
    </div>
  </div>